@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

body {
    background-image: url("./assets/home/background-home-mobile.jpg");
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
   }

   .show-links {
    position: fixed;
    z-index: 9999;
    height: 100vh;
    width: 70vw;
    top: 0;
    left: 0;
    background: hsla(0,0%,100%,.04);
    -webkit-backdrop-filter: blur(8.1rem);
    backdrop-filter: blur(8.1rem);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #close-icon {
      position: absolute;
      top: 0;
      right: 0;
      margin: 2rem 1.5rem 0 0;
  }

  nav {
    overflow: hidden;
    height: 0;
    position: relative;
  }

  .nav-items {
      list-style-type: none;
  }

  .nav-items>li {
      margin-bottom: 1.2rem;
  }

  .nav-items>li>a {
    font-family: 'Barlow Condensed';
    text-decoration: none;
    font-weight: 300;
    color: #ffffff;
    letter-spacing: 2.7px;
  }

  .nav-items>li>a>span {
    font-weight: bold;
    padding-right: 0.8rem; 
  }

.flex {
    display: flex;
}

.heading {
    justify-content: space-between;
    height: 5rem;
    align-items: center;
    margin: 0 1.5rem 4rem 1.5rem;   
}

#logo {
    width: 38px;
    height: 38px;
}

#hamburger {
    width: 25px;
    height: 20px;
}

h3 {
    color:#D0D6F9;
    font-family: 'Barlow Condensed';
    font-weight: 400;
}

h1 {
    color: #ffffff;
    font-family: 'Bellefair';
    font-weight: normal;
    margin: 1rem 0;
    font-size: 5rem;
}

.home {
    text-align: center;
    margin-top: 2rem;
}

 p {
    color: #D0D6F9;
    font-family: 'Barlow';
    font-size: 14px;
    text-align: center;
    padding: 0 1rem;
    line-height: 1.5;
}

#explore {
    height: 10rem;
    width: 10rem;
    background-color: #fff;
    border-radius: 100px;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 5rem auto 0;
}

h4 {
    font-family: 'Bellefair';
    color: #0B0D17;
    font-weight: normal;
}

@media screen and (min-width: 600px) {
  /* body {
        background-image: url("./assets/home/background-home-tablet.jpg");
    }
*/
    #hamburger, #close-icon {
        display: none;
    }

    nav {
        position: absolute;
        right: 0;
        top: 0;
        height: 6rem;
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: hsla(0,0%,100%,.04);
        -webkit-backdrop-filter: blur(8.1rem);
        backdrop-filter: blur(8.1rem);
    }

    .nav-items>li {
        padding: 0 2rem 0 0;
        margin: unset;
    }

    .nav-items>li>a>span {
       display: none;
      }

    ul {
        display: flex;
    }

    .space-home {
        display: flex;
        justify-content: center;
        margin: 6rem 0 ;
    }
    
    .space-home> div {
        width: 55%;
    }

    h1 {
        font-size: 6rem;
    }

    .home p {
        line-height: 1.5;
    }
  }

  @media screen and (min-width: 800px) {
   body {
        background-image: url("./assets/home/background-home-desktop.jpg");
    }
    .home {
        display: flex;
        align-items: center;
        text-align: unset;
    }

    .home > div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 80vh;
        width: 100vw;
    }

    .home p {
        text-align: unset;
        padding: unset;
        font-size: 15px;
        line-height: 1.6;
    }

    h1 {
        font-size: 7rem;
    }

    .space-home {
        width: 40rem;
    }

    h3 {
        font-size: 1.9rem;
        text-align: center;
    }

    #explore {
        height: 15rem;
        width: 15rem;
        border-radius: 150px;
    }

    h4 {
        font-size: 1.5rem;
    }
    
    .nav-items>li>a:active {
        border-bottom: 2px ;
    }

}

@media screen and (min-width: 1200px) {
  
    .nav-items>li>a>span {
       display: inline;
      }
}

















