body {
    background-image: url("./../../assets/destination/background-destination-mobile.jpg");
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
}

.page-nav {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-bottom: 2.5rem;
}

.page-nav>li> a {
    font-family: 'Barlow Condensed';
    color: #D0D6F9;
    margin: 0 0.5rem;
    letter-spacing: 3px;
}

.bg-image {
    width: 130px;
    height: 130px;
    display: block;
    margin: 2.5rem auto 1.5rem;
}

h4 {
    color: #F2F2F2;
    text-align: center;
    font-family: 'Barlow Condensed';
    letter-spacing: 3px;
}

h4 span {
    opacity: 0.5;
    padding-right: 0.7rem;
}

h1 {
    text-align: center; 
    font-size: 4rem; 
}

h5 {
    text-align: center;
    color: #D0D6F9;
    font-weight: normal;
    font-family: 'Barlow Condensed';
    letter-spacing: 3px;
    margin-bottom: 0.5rem;
}

.wrap {
    margin: 2rem 0;
}

.hr-line {
    background-color: #383B4B;
    height: 1px;
    width: 20rem;
    margin: 2rem auto 1rem;
}

.details {
    font-size: 1.8rem;
    font-family: 'Bellefair';
    color: #ffffff;
}

.active-destination {
    border-bottom: 3px solid white;
    padding-bottom: 0.8rem;
}

@media screen and (min-width: 600px) {
    body {
        background-image: url("./../../assets/destination/background-destination-tablet.jpg");
    }

    h1 {
        font-size: 5rem; 
    }

    h4 {
        text-align: left;
        margin-left: 2rem;
    }

    .bg-image {
        width: 230px;
        height: 230px;
    }

    .page-nav {
        margin-top: 3rem;
    }

    .wrapper {
        display: flex;
        justify-content: center;
    }
   
  }

  @media screen and (min-width: 760px) {
    body {
        background-image: url("./../../assets/destination/background-destination-desktop.jpg");
        height: 100vh;
    }

    .bg-image {
        width: 300px;
        height: 300px;
        margin-top: 5rem;
    }

    ul, .wrapper {
        justify-content: unset;
    }

    h1 {
        font-size: 5.5rem; 
    }

    h1, h5, .details {
        text-align: unset;
    }

    .details{
        padding: unset;
    }

    .description {
        text-align: unset;
        padding: unset;
        font-size: 15px;
        line-height: 1.6;
    }

    .container {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        height: 80vh;
        align-items: center;
    }

    .container > div {
        width: 24rem;
    }

    .one {
        margin: 2rem 4rem 0  0;
    }

    .page-nav{
        justify-content: unset;
    }
}

  @media screen and (min-width: 1200px) {
    .bg-image {
        width: 400px;
        height: 400px;
        margin-top: 5rem;
    }

    h1 {
        font-size: 6.5rem; 
    }

    .container > div {
        width: 28rem;
    }

    .inner-container1 {
        margin-right: 4rem;
    }

    .description {
        line-height: 2.0;
        font-size: 16px;
    }

    h4 {
        font-size: 1.5rem;
    }
  }