h4 {
    color: #F2F2F2;
    text-align: center;
    font-family: 'Barlow Condensed';
    letter-spacing: 3px;
}

h4 span {
    opacity: 0.5;
    padding-right: 0.7rem;
}

h3, h5 {
    text-align: center;
    color: #fff;
    font-family: "Bellefair";
    font-weight: 400;
}

h3 {
    font-size: 1.4rem;
}

h5 {
    opacity: 0.5;
    margin-bottom: 0.5rem;
    font-size: 14px;
}

@media screen and (min-width: 600px) {
    h4 {
        text-align: left;
        margin-left: 2rem;
    }

    h3 {
        font-size: 2.2rem;
    }
    
    h5 {
        font-size: 24px;
    }
}

@media screen and (min-width: 760px) {
    h5, h3, p {
        text-align: unset;
    }

    h3 {
        font-size: 1.8rem;
    }
    
    h5 {
        font-size: 20px;
    }
}

@media screen and (min-width: 1000px) {
    h3 {
        font-size: 2.5rem;
    }
    
    h5 {
        font-size: 26px;
    }
}

