body {
    background-image: url('./../../assets/technology/background-technology-mobile.jpg');
}

.image {
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    height: 170px;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    margin: 2rem 0;
}

h5 {
    font-family: 'Barlow Condensed';
    color: #D0D6F9;
    font-size: 14px;
    opacity: unset;          /*the opacity from heading.css is disturbing*/
    margin: 0 0 0.5rem 0;
    letter-spacing: 2px;
}

p {
    margin-top: 1.5rem;
}