body {
    background-image: url('./../../assets/technology/background-technology-mobile.jpg');
}

h4 {
    color: #F2F2F2;
    text-align: center;
    font-family: 'Barlow Condensed';
    letter-spacing: 3px;
}

h4 span {
    opacity: 0.5;
    padding-right: 0.7rem;
}

.image {
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    height: 170px;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    margin: 2rem 0;
}