body {
    background-image: url("./../../assets/crew/background-crew-mobile.jpg");
    width: 100%;
    overflow-x:hidden; 
}

.active-crew {
    opacity: unset !important;
    background-color: #fff !important;
}

.crew-photo {
    width: auto;
    height: 200px;
    display: grid;
    margin: 1.5rem auto 0;
}

.indicators{
    display: flex;
    justify-content: center;
}

.indicators a {
    width: 10px;
    height: 10px;
    background-color: #979797;
    border-radius: 50%;
    margin: 1rem 0.5rem 0;
    opacity: 0.4;
}

.hr-line {
    background-color: #383B4B;
    height: 1px;
    width: 20rem;
    margin: auto;
}

.about-crew {
    margin: 2rem 0;
}

@media screen and (min-width: 600px) {
    body {
        background-image: url("./../../assets/crew/background-crew-tablet.jpg");
        height: 100%;
    }

    .hr-line {
        display: none;
    }

    .reverse{
        display: flex;
        flex-direction: column-reverse;  
    }

    .wrapper-reverse {
        display: flex;
        justify-content: center;
    }

    .content {
        width: 400px;
    }

    .crew-photo {
        height: 572px;
    } 
}

@media screen and (min-width: 760px) {
    body {
        background-image: url("./../../assets/crew/background-crew-desktop.jpg"); 
        height: 100vh;
    }

    #container {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 80vh;
    }

    .indicators{
        justify-content: unset;
    }

    .indicators a {
        width: 13px;
        height: 13px;
        margin: 3rem 1rem 0 0 ;
    }

    p {
        padding: unset;
    }

    .crew-photo {
        height: 400px;
        margin: unset;
    }

    .content {
        width: 340px;
        margin-right: 2rem;
    } 
}

@media screen and (min-width: 1000px) {
    .crew-photo {
        height: 520px;
    }

    .content {
        width: 400px;
        margin-right: 4rem;
    }
    
    p {
        font-size: 16px;
    }

    .indicators a {
        margin: 9rem 1rem 0 0 ;
    }

    h3 {
        font-size: 2.7rem !important;
    }
}