<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <!--<link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">-->
        <link rel="stylesheet" href="./../../styles.css" type="text/css"/>
        <link rel="stylesheet" href="./crew.css" type="text/css"/>
        <title>Meet your Crew</title> 
    </head>
    <body>
        <div class="flex heading">
            <img src="./../../assets/icons/logo.svg" alt="logo" id="logo"/>
            <img src="./../../assets/icons/icon-hamburger.svg" alt="hamburger" id="hamburger">
        </div>
        <div>
            <h4><span>02</span>MEET YOUR CREW</h4>
            <div class="reverse" id="container">
                <img src="./../../assets/crew/image-mark-shuttleworth.png" alt="mission-speciality" class="crew-photo"/>
                <div class="hr-line"></div>
            
                <div class="wrapper-reverse"> 
                    <div class="reverse content">
                        <div class="indicators">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div>
                            <div class="about-crew">
                                <h5>MISSION SPECIALITY</h5>
                                <h3>MARK SHUTTLEWORTH</h3>
                            </div>
                            
                            <p>Mark Richard Shuttleworth is the founder and CEO of Canonical, the company behind 
                                the Linux-based Ubuntu operating system. Shuttleworth became the first South African to travel to space as a space tourist.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </body>
</html>



