<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <!--<link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">-->
        <link rel="stylesheet" href="./../../styles.css" type="text/css"/>
        <link rel="stylesheet" href="./crew.css" type="text/css"/>
        <link rel="stylesheet" href="./../heading.css" type="text/css"/>
        <title>Meet your Crew</title> 
    </head>
    <body>
        <div class="flex heading">
            <img src="./../../assets/icons/logo.svg" alt="logo" id="logo"/>
            <img src="./../../assets/icons/icon-hamburger.svg" alt="hamburger" id="hamburger">
        </div>

        <nav>
            <div>
                <img src="./../../assets/icons/icon-close.svg" style="height:20px;" id="close-icon"/>
                <ul class="nav-items">
                    <li><a href="#" class="nav-link"><span>00</span>HOME</a></li>
                    <li><a href="./views/destination/moon.html" class="nav-link"><span>01</span>DESTINATION</a></li>
                    <li><a href="./views/crew/commander.html" class="nav-link active-home"><span>02</span>CREW</a></li>
                    <li><a href="./views/technology/launch-vehicle.html" class="nav-link"><span>03</span>TECHNOLOGY</a></li>
                </ul>
            </div> 
        </nav>

        <div>
            <h4><span>02</span>MEET YOUR CREW</h4>
            <div class="reverse" id="container">
                <img src="./../../assets/crew/image-victor-glover.png" alt="pilot" class="crew-photo"/>
                <div class="hr-line"></div>
            
                <div class="wrapper-reverse"> 
                    <div class="reverse content">
                        <div class="indicators">
                            <a href="commander.html"><span></span></a>
                            <a href="mission-speciality.html"><span></span></a>
                            <a href="#" class="active-crew"><span></span></a>
                            <a href="flight-engineer.html"><span></span></a> 
                        </div>
                        <div>
                            <div class="about-crew">
                                <h5>PILOT</h5>
                                <h3>VICTOR GLOVER</h3>
                            </div>
                            
                            <p>Pilot on the first operational flight of the SpaceX Crew Dragon to the 
                            International Space Station. Glover is a commander in the U.S. Navy where he pilots an 
                            F/A-18.He was a crew member of Expedition 64, and served as a station systems flight engineer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script src="./../../index.js"></script> 
    </body>
</html>



