<!DOCTYPE html>
<html>
    <head>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
            <!--<link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">-->
            
            <link rel="stylesheet" href="./../../styles.css" type="text/css"/>
            <link rel="stylesheet" href="./pages.css" type="text/css"/>

            <title>Pick Your Destination</title> 
        </head>
    </head>
    <body>
        <div class="flex heading">
            <img src="./../../assets/icons/logo.svg" alt="logo" id="logo"/>
            <img src="./../../assets/icons/icon-hamburger.svg" alt="hamburger" id="hamburger">
        </div>

        <div class="container">
            <div class="inner-container1">
                <h4><span>01</span>PICK YOUR DESTINATION</h4>
                <img src="./../../assets/destination/image-titan.png" alt="titan" class="bg-image"/>
            </div>
    
            <div>
                <ul>
                    <li>MOON</li>
                    <li>MARS</li>
                    <li>EUROPA</li>
                    <li>TITAN</li>
                </ul>
                <h1>TITANS</h1>
                <p class="description">The only moon known to have a dense atmosphere other than Earth, 
                    Titan is a home away from home (just a few hundred degrees colder!).
                     As a bonus, you get striking views of the Rings of Saturn.</p>
                <div class="hr-line"></div>
               
                <div class="wrapper">
                    <div class="wrap one">
                        <h5>AVG. DISTANCE</h5>
                        <p class="details">1.6 BIL. KM</p>
                    </div>
            
                    <div class="wrap">
                        <h5>EST. TRAVEL TIME</h5>
                        <p class="details">7 YEARS</p>
                    </div> 
                </div>
            </div>
        </div> 
    </body>
</html>